<% provide(:title, "Index") %>
<h1>Tests#index</h1>
<% @tests.each do |t| %>
<div>
  <%= t.name %>
  <%= link_to '編集', edit_test_path(t) %>
  <%= link_to '削除', test_path(t), method: :delete %>
</div>
<% end %>
<%= link_to '追加', new_test_path %>
<div>
  <h3>jqueryのテスト</h3>
  <p id="hoge">jQueryで赤色に変化</p>
</div>
<div>
  <h3>dotenvのテスト</h3>
  <p><%= ENV["DOT_ENV_TEST"] %></p>
</div>
<div>
  <h3>localeのテスト</h3>
  <p><%= t('datetime.prompts.second') %></p>
  <p><%= t('errors.messages.accepted') %></p>
  <p><%= l(Time.zone.now, format: :long) %></p>
</div>

<script>
  $(function () {
    $("#hoge").css("color", "red");
  });
</script>