<% provide(:title, "Index") %>
<h1>Tests#index</h1>
<% @tests.each do |t| %>
<div>
  <%= t.name %>
  <%= link_to '編集', edit_test_path(t) %>
  <%= link_to '削除', test_path(t), method: :delete %>
</div>
<% end %>
<%= link_to '追加', new_test_path %>

<p id="hoge">jQueryで赤色に変化</p>
<p><%= ENV["DOT_ENV_TEST"] %></p>

<script>
  $(function () {
    $("#hoge").css("color", "red");
  });
</script>