<h1>Tests#new</h1>
<%= form_with model: @test, local: true do |f| %>
<div><%= f.label :name %></div>
<div><%= f.text_field :name %></div>
<div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tests_path %>